.projects-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 499px) {
  .projects-outer {
    transform: scale(0.8);
    transform-origin: top center;
  }
}
